<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h4>
            Public Post <br/>
            <%= title %>
        </h4>
        <h1>
            Facebook Post
        </h1>
        <p>
            this is my first facebook post on any social network...
        </p>

      </body>  
     </html> 