<link rel="stylesheet" href="/css/user.css">
        <h1>
            Adminstration  <br/>
            <%= title %>
        </h1>
            <ol>
                <li>
                    <a href=""> Sujeet </a>
                </li>
                
                <li>
                    <a href=""> Tarun </a>
                </li>
                
                <li>
                    <a href=""> Bharath </a>
                </li>
            </ol>
